<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Cliente</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Racing+Sans+One&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="container">
    <h1 class="logo">
      <span style="color: rgb(0, 192, 188);">She</span>Moves
    </h1>
    <div class="form-container">
      <h2 class="form-title">CLIENTE</h2>
      <form id="registration-form" action="/cadastro-cliente" method="POST">
        <label for="name">Nome completo:</label>
        <input type="text" id="name" name="name" placeholder="Digite aqui seu nome..." required>

        <label for="birthdate">Data de nascimento:</label>
        <input type="date" id="birthdate" name="birthdate" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" placeholder="Ex: 111.222.333-44" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" placeholder="seuemail@example.com" required>

        <label for="phone">Número do celular:</label>
        <input type="tel" id="phone" name="phone" placeholder="(11) 99999-9999" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm-password">Confirmar senha:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        
          <div class="password-criteria">
          <p>Sua senha deve conter:</p>
          <ul>
            <li id="length">Mínimo de oito caracteres</li>
            <li id="numbers">Mínimo de dois números</li>
            <li id="special">Mínimo de um caractere especial</li>
            <li id="uppercase">Mínimo de uma letra maiúscula</li>
            <li id="lowercase">Mínimo de uma letra minúscula</li>
          </ul>
        </div> 
        
        <button type="submit" class="submit-btn">VALIDAR</button>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
