<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHEMOVES</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Racing+Sans+One&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="login-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <div class="logo">
      <img src="{{ url_for('static', filename='imagens/logo-shemoves.png') }}">
    </div>
    <h1 class="login-title">LOGIN</h1>
    <form action="/login"  id="login-form" method="POST">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" placeholder="seuemail@example.com" required>
      
      <label for="password">Senha:</label>
      <div class="password-wrapper">
        <input type="password" id="password" name="password" placeholder="********" required>
        <!--<button type="button" class="toggle-password" onclick="togglePassword()">👁️</button>-->
      </div>
      
      <button type="submit" class="login-btn">ENTRAR</button>
    </form>
  </div>
</body>
</html>
